.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:bisque;
    align-items: center;
    width: 30%;
    position: relative;
    min-width: 300px;

}

.position img{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top:10px
}
.position :hover{
    
    background-color:rgb(207, 204, 230);
}
.image{
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
}
.bold{
    font-weight: bold;
}


button.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    margin-top: 20px;
    background-color: white;
    }
    button.button1:hover{
        color:#000000;
        background-color:#7499ff;
        }

  @media all and (max-width:30em){
          a.button1{
          display:block;
          margin:0.4em auto;
  }


} 
.recipeHeader{
        text-align: center;
    margin-block-start: inherit;
    /* padding-top: 15px; */
    font-style: italic;
    margin: 0px;
    margin-top: 35px;
    padding: 0px;
}
