
body{
  height: 100%;
  width: 100%;
  margin: 0;
  max-width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/food-2068217_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.onlineRecipes {
 
  font-family: 'Rubik', sans-serif;
  /* min-height: 100vh; */
  /* background-image: url("https://cdn.pixabay.com/photo/2017/02/15/10/39/food-2068217_1280.jpg"); */
 
  background-size: 500px;
  height: 100%; 
background-size: cover;
  /* Full height
  height: 100%; 

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ 
}

h1.onlineSerchBox{
  color: white;
}
h2.onlineSerchBox{
  color: white;
}
  
  .search-form{
    min-height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar{
  width: 40%;
  min-width: 250px;
  border:1px solid  rgba(98, 98, 98);
  padding: 8px;
  
  }
  .search-button{
    background: lightcoral;
    border:none;
    padding: 10px 20px;
    color: white;
  }
  .recipes{
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
 
  h1{
    text-align: center;
    margin-block-start: inherit;
    padding-top: 15px;  
    font-style: italic;  
  }
  h2{
    text-align: center;
    margin-block-start: inherit;
    padding-top: 15px;  
    font-style: italic; 
    margin-top: 70px; 
  }
  a{
    margin: 20px;
  }
  h3{
    text-align: center;
    margin-block-start: inherit;
    padding-top: 15px;  
    font-style: italic; 
  }
  nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    color: white; 
    background-color: rgb(76,60,60);
    min-width: 100%;
   ;
  }
  .nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .login-bar{
    max-width: 400px;
    width: 100%;
  }
  .loginModal{
    margin-top: 0px;
  }
  .logoutForm{
    margin: auto;
    width: 50%;
    text-align: center;
}

  
  
  





  