

.App {
 
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}
  
  .search-form{
    min-height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar{
  width: 40%;
  border:1px solid  rgba(98, 98, 98);
  padding: 8px;
  
  }
  .search-button{
    background: lightcoral;
    border:none;
    padding: 10px 20px;
    color: white;
  }
  .recipes{
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
 
  h1{
    text-align: center;
    margin-block-start: inherit;
    padding-top: 15px;  
    font-style: italic;  
  }
  h2{
    text-align: center;
    margin-block-start: inherit;
    padding-top: 15px;  
    font-style: italic; 
    margin-top: 70px; 
  }
  a{
    margin: 20px;
  }
  h3{
    text-align: center;
    margin-block-start: inherit;
    padding-top: 15px;  
    font-style: italic; 
  }
  nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    color: white; 
    background-color: rgb(76,60,60);
    min-width: 100%;
    float: right;
  }
  .nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .login-bar{
    max-width: 400px;
    width: 100%;
  }
  .loginModal{
    margin-top: 0px;
  }
  
  





  